/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 40%;
    height: 100%;
}

section {
    position: relative; /* CLAVE para superponer */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Imagen de fondo */
.frase img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BOTONES */
.botones {
    position: absolute;
    top: 20px;
    right: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-opcion {
    background: transparent;   /* quita fondo blanco */
    border: none;              /* quita borde */
    padding: 0;                /* elimina espacio interno */
    cursor: pointer;
}

.btn-opcion img {
    width: 20px;               /* tamaño del botón */
    height: auto;
    display: block;
}

/* FRASE */
.titulo h1{
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;

    color: white;
    text-align: center;
    font-size: 26px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
    font-weight: bold;
}

.frase h2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    
    color: white;
    text-align: center;
    font-size: 22px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
    padding: 0 10px;

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* FECHA */
.fecha h2 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-size: 18px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* NOMBRE */
.nombre h1 {
    position: absolute;
    bottom: 30px;
    right: 30px;

    color: white;
    font-size: 26px;
    font-weight: bold;

    transform: rotate(-10deg);
    text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}
